
        <section id="viewCatalog" class="background-img">
        {{#if posts}}
        {{#each posts}}
            <div class="added-electronics">
                <a href="/posts/details/{{_id}}" class="added-electronics-in-market">
                    <h3>{{title}}</h3>
                    <img src="{{image}}" class="picture-added-electronics">
                    <p>${{text}}</p>
                </a>
            </div>
        {{/each}}
        {{else}}
          <div class="guest">
                There are no posts found...
            </div> 
        {{/if}}

        </section>

